:root {
  --color-one: #00008b;
  --color-two: #008000;
  --color-three: #ff0000;
  --color-for: #f0ffff;
  --color-five: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  color: white;
  background-color: var(--color-one);
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: var(--color-for);
}

input {
  width: 300px;
  padding: 15px;
  outline: none;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  transition: all .3s;
  font-size: 12pt;
}

input:focus {
  border: 2px solid var(--color-one);
}

.btn {
  width: 100px;
  cursor: pointer;
  padding: 17px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--color-one);
}

.btn:focus {
  border: none;
}

.task-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  margin-top: 25px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 700px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 5px #d3d3e0;
}

p {
  flex: 2;
  text-align: left;
}

span {
  flex: 1;
  text-align: right;
}

.desc {
  font-weight: bold;
  color: var(--color-five);
}

.done, .delete {
  cursor: pointer;
  color: var(--color-two);
}

.delete {
  cursor: pointer;
  color: var(--color-three);
}